<mat-card fxLayout="column" class="page">
  <mat-card-content>
    <form  [formGroup]="form">
      <div *ngFor="let e of ds.rootBlock.elements">
        <app-sub-form [elementData]="e" (elementDataChange)="elementValueChanged()" [parentForm]="form"></app-sub-form>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="!isProductionMode">
    <button mat-raised-button (click)="setNewScript()" matTooltip="Script eingeben">load</button>
    <button mat-raised-button (click)="form.markAllAsTouched()" matTooltip="Zeige Korrekturbedarf">validate</button>
    <button mat-raised-button (click)="responsesSave()" matTooltip="Speichere die aktuellen Antworten">save</button>
    <button mat-raised-button (click)="responsesRestore()" matTooltip="Stelle alle gespeicherten Antworten wieder her">restore</button>
  </mat-card-actions>
</mat-card>
